body{
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: 3fr;
}
.header{
     grid-row: 0/1;
     text-align: center;
}
.header img{
	width:175px;
	height: auto;
}
button img{
	width:65px;
	height:auto;
} 

.mainsection{
    grid-row: 2/3;
}
footer{
   font-size: 10px;
}
ul{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:0;
}
ul li{
    list-style-type: none;
}
button{
	margin: 35px;
}
.backbutton{
    text-align: left;
    bottom:0;
    position: fixed;
}
a{
    text-decoration: none;
}

footer{
    bottom: 5;
}