<!DOCTYPE html>
<html>
    <head>
        <title>4 - ALL</title>
        <link rel= "stylesheet" type="text/css" href="index.css"/>
        <link rel= "stylesheet" type="text/css" href="mediaqueries.css"/>
        </head>
        <body>
        <a href="fourall.html"><p class="backbutton">Go Back</p></a>
        <h2>What infrastructure does your issue relate to:</h2>
        <ul class="issue location">
         <a href="thirddetailpage.html"><button><img src="../static/image/Inaccessible Restroom.png"><li>Restrooms</li></img></button></a>
         <a href="thirddetailpage.html"><button><img src="../static/image/Hand Rail[3468].png"><li>Handrails</li></img></button></a>
         <a href="thirddetailpage.html"><button><img src="../static/image/Ramp.png"><li>Maneuverability</li></img></button></a>
        </ul>
        </body>
</html>