<!DOCTYPE html>
<html>
    <head>
        <title>4 - ALL</title>
        <link rel= "stylesheet" type="text/css" href="index.css"/>
        </head>
        <body>
        <h1>Indoors</h1>
        <h2>What infrastructure does your issue relate to:</h2>
        <ul class="issue location">
         <a href=""><button><li>Accessible Restrooms</li></button></a>
         <a href=""><button><li>Interior Accessible Routes</li></button></a>
         <a href=""><button><li>Elevators or Platform Lifts</li></button></a>
         <a href=""><button><li>Seating for wheelchairs</li></button></a>
        </ul>
        </body>
</html>