<!DOCTYPE html>
<html>
    <head>
        <title>4 - ALL</title>
        <link rel= "stylesheet" type="text/css" href="index.css"/>
        </head>
        <body>
        <h1>Outdoors</h1>
        <a href="fourall.html"><p class="backbutton">Go Back</p></a>
        <h2>What infrastructure does your issue relate to:</h2>
        <ul class="issue location">
         <a href="thirddetailpage.html"><button><img src="../static/image/Ramp.png"><li>Ramps</li></img></button></a>
         <a href="thirddetailpage.html"><button><img src="../static/image/Sidewalk.png"><li>Sidewalk</li></img></button></a>
         <a href="thirddetailpage.html"><button><img src="../static/image/Door.png"><li>Entrance</li></img></button></a>
         <a href="thirddetailpage.html"><button><li>Parking Spots</li></button></a>
        </ul>
        </body>
</html>