<!DOCTYPE html>
<html>
    <head>
        <title>4 - ALL</title>
        <link rel= "stylesheet" type="text/css" href="index.css"/>
        </head>
        <body>
        <h1>Outdoors</h1>
        <a href="fourall.html"><p class="backbutton">Go Back</p></a>
        <h2>What infrastructure does your issue relate to:</h2>
        <ul class="issue location">
         <a href=""><button><li>Ramps</li></button></a>
         <a href=""><button><li>Sidewalk</li></button></a>
         <a href=""><button><li>Doors</li></button></a>
         <a href=""><button><li>Parking Spots</li></button></a>
        </ul>
        </body>
</html>